<header class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.description }}</h2>

  <nav style="margin-top:15px;">
    <a href="{{ '/' | relative_url }}"
       style="color:white; font-weight:bold; margin-right:10px;">Home</a>|

    <a href="{{ '/exercise1' | relative_url }}"
       style="color:white; font-weight:bold; margin-right:10px;">Data Types</a>|

    <a href="{{ '/exercise2' | relative_url }}"
       style="color:white; font-weight:bold; margin-right:10px;">Circle Perimeter</a>|

    <a href="{{ '/exercise3' | relative_url }}"
       style="color:white; font-weight:bold; margin-right:10px;">Time Converter</a>|

    <a href="{{ '/calculator' | relative_url }}"
       style="color:white; font-weight:bold; margin-right:10px;">Calculator</a>|

    <a href="{{ '/calender' | relative_url }}"
       style="color:white; font-weight:bold; margin-right:10px;">Calendar</a>|

    <a href="{{ '/bma' | relative_url }}"
       style="color:white; font-weight:bold; margin-right:10px;">BMI Calculator</a>|

    <a href="{{ '/assignment2/' | relative_url }}"
       style="color:white; font-weight:bold;">Presentation</a>
  </nav>
</header>
